@media (max-width: 600px) {
    .activity {
        display: grid;
        grid-template-columns: 70% 30%;
        grid-gap: 0;
        align-items: center;
        max-width: 82%;
        height: 7vh;
        margin: 3vh auto;
        background-color: var(--primary);
        border-radius: 7px;
        box-shadow: var(--buttonShadow);
        font-family: 'Roboto', sans-serif;
        text-decoration: none;
    }
    h2 {
        padding-left: 26px;
        font-size: 1.29rem;
        color: white;
    }
    h3 {
        font-family: 'Roboto', sans-serif;
        color: rgb(0, 0, 0, .35);
        background-color: rgba(211, 211, 211, .6);
        margin-right: 22px;
        border-radius: 5%;
        text-align: center;
        font-size: 1.56rem;
        font-weight: 900;
    }
}