@media (max-width: 600px) {
    section{
        position: relative;
    }
    .activity {
        position: relative;
        display: grid;
        grid-template-columns: 10% 50% 30% 10%;
        grid-gap: 0;
        align-items: center;
        max-width: 82%;
        height: 7vh;
        margin: 3vh auto;
        background-color: var(--primary);
        border-radius: 7px;
        box-shadow: var(--buttonShadow);
        font-family: 'Roboto', sans-serif;
        text-decoration: none;
    }
    h2 {
        padding-left: 26px;
        font-size: 1.29rem;
        color: white;
    }
    h3 {
        font-family: 'Roboto', sans-serif;
        color: rgb(0, 0, 0, .51);
        background-color: rgba(233, 233, 233, 0.8);
        margin-right: 22px;
        border-radius: 5%;
        text-align: center;
        font-size: 1.56rem;
        font-weight: 900;
    }
    .activity p{
        font-family: "Material Icons";
        color: white;
        font-size: 1.2rem;
        padding-left: 5vw;

    }
    .cog{
        font-size: 1.4rem !important; 
        padding-left: unset !important;
        -webkit-touch-callout: none !important;
        -webkit-user-select: none !important;
        -khtml-user-select: none !important;
        -moz-user-select: none !important;
        -ms-user-select: none !important;
        user-select: none !important;
    }
    #set1 {
        display: flex;
        display: none;
        position: absolute;
        float: right;
        right: 6vh;
        top: 1vh;
        z-index: 1000;
        flex-direction: column;
        width: 40%;
        padding-left: 5vw;
        font-size: 1.15rem;
        background-color: white;
        border-radius: 4px;
    }
    #burger p, #set1 p {
        padding: 3vh 0;
    }
    #burger a, #set1 a {
        text-decoration: none;
        color: black;
    }
    #burger #maker {
        display: block;
    }
    #burger #maker a {
        text-decoration: none;
    }
    #maker {
        display: none
    }
    #redtext a {
        color: darkred;
    }
    .dot, .hyphen {
        background-color: rgb(122, 122, 122);
        width: 16px;
        height: 16px;
        border-radius: 50%;
        display: inline-block;
        margin: 18px 5px 0 5px;
    }
    .hyphen {
        width: 38px;
        border-radius: 4px;
    }
}