@media (max-width: 600px) {
    #wrapper {
        margin: auto;
        margin-top: 25%;
        width: 82%;
        display: flex;
        flex-direction: column;
        justify-items: center;
    }
    .device {
        display: grid;
        grid-template-columns: 30% 65%;
        grid-template-rows: 30% 70%;
        grid-gap: 0;
        align-items: center;
        min-height: 12vh;
        margin: 3vh auto;
        background-color: var(--primary);
        border-radius: 15px;
        box-shadow: var(--buttonShadow);
        font-family: 'Roboto', sans-serif;
        text-decoration: none;
    }
    .device img {
        grid-row-start: 1;
        grid-row-end: 3;
        height: 70%;
        justify-self: center;
        max-width: 9vh;
        max-height: 9vh;
    }
    h2 {
        font-size: 1.29rem;
        color: white;
    }
    h3 {
        color: whitesmoke;
    }
    h3 span {
        color: greenyellow;
        font-family: "Lucida Console", Monaco, monospace;
    }
    .button {
        width: 35%;
        height: 45px;
        background-color: var(--good);
        font-size: 1.2rem;
        font-weight: 500;
        color: white;
        margin-left: 13vw;
        box-shadow: var(--buttonShadow);
    }
    #bottombutton {
        background-color: var(--bad);
        margin-left: unset;
    }
    /* Hover is required to go before active */
    .button:hover {}
    #bottombutton:hover {}
    .button:active {
        background-color: #46f457
    }
    #bottombutton:active {
        background-color: #ff5959
    }
    .info {
        text-align: center;
        font-size: 1.3rem;
        opacity: .5;
        margin-bottom: 6vh;
    }
    #bottom {
        margin-bottom: unset;
        margin-top: 11vh;
    }
    #buttons {
        position: absolute;
        width: 100%;
        bottom: 4vh;
        justify-content: center;
        margin: 7vh auto;
        display: flex;
    }
    #popup {
        position: absolute;
        display: none;
        top: 30%;
        left: 50%;
        transform: translateX(-50%);
        background-color: white;
        border-radius: 10px;
        height: 24vh;
        padding-left: 10%;
        width: 69vw;
    }
    #popup form {
        padding: 10px;
        font-size: 1.8rem;
    }
    #popup form .button {
        padding: 10px;
        width: 46%;
    }
    #popup p {
        padding: 10px;
    }
}