@media (max-width: 600px) {
    .device {
        position: relative;
        display: grid;
        grid-template-columns: 30% 65%;
        grid-template-rows: 30% 70%;
        grid-gap: 0;
        min-height: 85px;
        align-items: center;
        max-width: 82%;
        margin: 3vh auto;
        background-color: var(--primary);
        border-radius: 15px;
        box-shadow: var(--buttonShadow);
        font-family: 'Roboto', sans-serif;
        text-decoration: none;
    }
    .device img, .imagelink {
        grid-row-start: 1;
        grid-row-end: 3;
        justify-self: center;
        max-height: 9vh;
        max-width: 9vh;
    }
    
    h2 {
        font-size: 1.44rem;
        color: white;
        margin-top: .6vh;
    }
    h3 {
        color: whitesmoke;
        margin-bottom: 1vh;
    }
    h3 span {
        color: greenyellow;
        font-family: "Lucida Console", Monaco, monospace;
    }
    .wheel1, .wheel2{
        position: absolute;
        font-family: "Material Icons";
        color: #e7e7e7;
        font-size: 1.6rem;
        right: 5vw;
    }
    #burger{
        display: flex;
        display: none;
        position: absolute;
        top: 1vh;
        right: 1vh;
        z-index: 1000;
        flex-direction: column;
        width: 30%;
        padding-left: 3vw;
        font-size: 1.44rem;
        background-color: white;
        border-radius: 4px;
    }

    #set1{
        display: flex;
        display: none;
        position: absolute;
        top: 38vw;
        right: 2vh;
        z-index: 1000;
        flex-direction: column;
        width: 30%;
        padding-left: 5vw;
        font-size: 0.9rem;
        background-color: white;
        border-radius: 4px;
    }

    #burger p, #set1 p{
        padding: 3vh 0;
    }
    #burger a, #set1 a{
        text-decoration: none;
        color: black;
    }
    #burger #maker{
        display: block;
    }
    #burger #maker a{
        text-decoration: none;
    }

    #maker{
display: none
    }

    #redtext{
        color: red;
    }

}