@media (max-width: 600px) {
	body {
		background-color: white;
	}
	#wrapper {
		margin: auto;
		width: 70%;
		margin-top: 2vh;
		display: flex;
		flex-direction: column;
		justify-items: center;
		align-items: center;
	}
	#wrapper img {
		width: 100%;
	}
	#wrapper #logo {
		margin-top: 1vh;
		width: 41vw;
	}
	.form {
		margin-top: 8vh;
		width: 90%;
		height: 52px;
	}
	#bottomform {
		margin-top: 2vh;
	}

	#error{
		display: none;
		text-align: center;
		margin-top: 4ch;
		font-size: 1.22rem;
		color: red;
		font-weight: 600;
	}

	.button {
		width: 50%;
		height: 45px;
		margin-top: 5vh;
		background-color: var(--primary);
		font-size: 1.2rem;
		font-weight: 500;
		color: white;
		box-shadow: var(--buttonShadow);
	}
	#bottombutton {
		margin-top: 2vh;
		background-color: var(--primary-dark);
	}
	/* Hover is required to go before active */
	.button:hover {}
	#bottombutton:hover {}
	.button:active {
		background-color: var(--primary-light)
	}
	#bottombutton:active {
		background-color: var(--primary)
	}
}