#wrapper{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.form{
    margin-top: 3vh;
    width: 93%;
    height: 2.4rem;
    font-size: 1.4rem;
}

.title{
    color: #999999;
    margin-top: 1vh;
    font-size: 1.4rem;
}

#message{
    margin-top: 9vh;
}

.button{
    width: 45%;
    height: 43px;
    margin: auto;
    margin-top: 5vh;
    background-color: var(--primary);
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    box-shadow: var(--buttonShadow);
}

#error{
    text-align: center;
    padding-top: 3vh;
    font-size: 1.3rem;
    color: red;
    font-weight: 600;
    display: none;
}

#termswrap{
    margin-top: 6vh;
    color: #999999;
    display: flex;
}

#terms{
    width: 20px;
    height: 20px;
}

#textterms{
    font-size: 20px;
    margin-top: 4px;
    margin-left: 7px;
}