/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

1263px img {
    width: 20%;
}

body {
    background-color: #f2f2f2;
    font-family: 'Assistant', sans-serif;
}

#color1 {
    width: 100%;
    background-color: #000;
    height: auto;
    left: 0;
    top: 0;
    position: fixed;
    display: flex;
    justify-content: center;
}

#color1 h1 {
    text-align: center;
    font-size: 20px;
    color: white;
    padding: 12px 0;
    font-style: oblique;
    font-weight: 200;
    display: inline-block;
}

#logo {
    width: 41px;
    display: inline-block;
    margin-left: 20px;
}

#color2 {
    width: 100%;
    background-color: #233237;
    padding: 16px 0px;
    left: 0;
    top: 44px;
    position: fixed;
}

#menu {
    width: 1000px;
    margin: auto;
}

#menu a {
    color: white;
}

.hh {
    display: inline-block;
    padding-right: 135px;
    font-size: 16px;
    font-weight: 600;
    color: white;
}

#last {
    padding-right: 0;
}

.titles {
    text-align: center;
    font-size: 9vh;
    font-weight: 600;
    margin-top: 50px;
    background-color: white;
    color: black;
}

#first {
    margin-top: 120px;
    background-color: transparent;
}

#Carla {
    margin: 50px auto 0px auto;
    height: 340px;
    width: 1263px;
}

#Carla img {
    top: 4px;
    width: 280px;
    height: 280px;
    float: right;
    margin: 20px 230px 0px 0px;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
}

#textC {
    float: left;
    margin-left: 130px;
    padding: 30px;
    background-color: white;
    width: 340px;
    margin-top: 10px;
    border-radius: 20px;
}

#textC h1 {
    font-size: 30px;
    text-align: center;
}

#textC p {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}

.first {
    margin-top: 100px;
}

a {
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    .titles {
        padding: 4vh 4vw;
    }
    #textC {
        float: unset;
        margin-left: auto;
        margin-top: unset;
        margin-right: auto;
    }
    #Carla {
        margin: 4vh auto;
        height: auto;
        width: auto;
    }
    #Carla img {
        max-width: 75vw;
        width: unset;
        display: block;
        background-color: #233237;
        margin-left: auto;
        margin-right: auto;
        float: unset;
    }
    iframe {
        margin: 13vh auto 0 auto;
        display: block;
    }
    #first {
        margin-top: 27px;
        background-color: transparent;
        font-size: 3vh;
    }
}