/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


1263px

img{
    width: 20%;
}

body{
    background-color: #f2f2f2;
    font-family: 'Assistant', sans-serif;
}

#color1{
    width: 100%;
    background-color: #000;
    height: auto;
    left: 0;
    top: 0;
    position: fixed;
    display: flex;
    justify-content: center;
}

#color1 h1{
    text-align: center;
    font-size: 20px;
    color: white;
    padding: 12px 0;
    font-style: oblique;
    font-weight: 200;
    display: inline-block;
}

#logo{
    width: 41px;
    display: inline-block;
    margin-left: 20px;
}

#color2{
    width: 100%;
    background-color: #233237;
    padding: 16px 0px;
    left: 0;
    top: 44px;
    position: fixed;
}

#menu{
    width: 1000px;
    margin: auto;
}

#menu a{
    color: white;
}

li{
    display: inline-block;
    padding-right: 135px;
    font-size: 16px;
    font-weight: 600;
    color: white;
}

#last{
    padding-right: 0;
}

a{
    text-decoration: none;
}

#comic{
    display: flex;
    margin-top: 100px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    z-index: 10;
}
.block1{
    /* 1350x530 */
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 160px;
    padding-right: 160px;
    max-width: 300px;
    min-width: 300px;
    margin: 20px 0px 3px 0px ;
    z-index: 11;
}
.block2{
    /* 1350x530 */
    padding-top: 0px;
    padding-bottom: 90px;
    padding-left: 160px;
    padding-right: 160px;
    max-width: 300px;
    min-width: 300px;
    margin: 20px 0px 3px 0px ;
    z-index: 12;
}
h2{
    font-size: 40px;
    font-weight: 600;
    padding-top: 3px;
    padding-bottom: 3px;
}
h3{
    font-size: 20px;
    font-style: italic;
    padding-top: 3px;
    padding-bottom: 3px;
}
q{
    font-size: 15px;
    padding-top: 1px;
    padding-bottom: 3px;
}

#comic a{
    color: black;
    text-decoration: underline;
}

